.circular-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    background-image:
        repeating-conic-gradient(darkgrey 0deg, darkgrey 4deg, rgba(255, 255, 255, 0) 4deg, rgba(255, 255, 255, 0) 5deg);
}

.circular-slider-inside {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    cursor: default;
    width: calc(100% - 72px);
    height: calc(100% - 72px);
    z-index: 2;
}

.circular-slider-color {
    opacity: 50%;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    cursor: default;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.knob {
    width: 36px;
    height: 36px;
    border: 2px darkgrey solid;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -2px);
    cursor: pointer;
    z-index: 3;
}