.circular-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    background-image:
        repeating-conic-gradient(grey 0deg, grey 7deg, white 7deg, white 8deg);
}

.circular-slider-inside {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    cursor: default;
    width: 90%;
    height: 90%;
    z-index: 2;
}

.circular-slider-color {
    opacity: 50%;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    cursor: default;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.knob {
    width: 10%;
    height: 10%;
    border: 2px grey solid;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -25%);
    cursor: pointer;
    z-index: 3;
}